*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.container{
    /* background: linear-gradient(90deg,rgba(116, 0, 184, 1) 0%, rgba(83, 144, 217, 1) 50%, rgba(128, 255, 219, 1) 100%); */
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Bungee", sans-serif;
    background-color: #f5f5f5;
}

.container h1{
    font-family: "Playwrite CU Guides", cursive;
}

input{
    width: 15dvw;
    height: 8dvh;
    border-radius: 50px;
    text-align: center;
    background-color: #64DFDF;
    font-size: 15px;
}

button{
    width: 15dvw;
    height: 8dvh;
    border-radius: 50px;
    text-align: center;
    background-color: #48BFE3;
    color: white;
}

button:hover{
    background-color: #5E60CE; 
}

.box{
    width: 25dvw;
    height: 30dvh;
    border: 2px solid #6930C3;
    border-radius: 50px;
    background-color: #80FFDB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 10px;
    font-size: 15px;
}

.box p{
    margin-left: 15px;
    color: #2c2f33;
}