*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.container{
    /* background: linear-gradient(90deg,rgba(116, 0, 184, 1) 0%, rgba(83, 144, 217, 1) 50%, rgba(128, 255, 219, 1) 100%); */
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    font-family: "Bungee", sans-serif;
    background-color: #f5f5f5;
}

.container h1{
    font-family: "Playwrite CU Guides", cursive;
    font-size: 1.5dvw;
}

input{
    width: 15dvw;
    height: 4dvh;
    border-radius: 50px;
    text-align: center;
    background-color: #48BFE3;
    color: #2c2f33;
    font-size: 0.8dvw;
}

input::placeholder{
    color: #2c2f33;
}

button{
    width: 15dvw;
    height: 4dvh;
    border-radius: 50px;
    text-align: center;
    background-color: #5E60CE;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 1dvw;
}

button:hover{
    background-color: #48BFE3; 
}

.box{
    width: 25dvw;
    height: 25dvh;
    border: 2px solid #6930C3;
    border-radius: 50px;
    background-color: #80FFDB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 10px;
    font-size: 0.8dvw;
}

.box p{
    margin-left: 15px;
    color: #2c2f33;
}